<div class="auth-container">

  <div class="auth-card">
    <h2>Inscription</h2>
    <p class="subtitle">Heureux de faire votre connaissance</p>

    <form>
      <input type="text" placeholder="Entrez votre nom" />
      <input type="email" placeholder="Entrez votre email" />
      <input type="password" placeholder="Entrez votre mot de passe" />

      <button type="button" class="btn-primary">
        S'inscrire
      </button>
    </form>

    <p class="switch">
      Vous avez déjà un compte ?
      <a routerLink="/login">Se connecter</a>
    </p>
  </div>

</div>
